<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Page Not Found</title>
  <link rel="icon" href="../static/images/tech_tales_icon.png"/>
  <link rel="stylesheet" href="../static/styles/not_found.css">
</head>
<body>
  <div class="container">
    <h1>404 - Page not found</h1>
    <p>We're sorry, but the page you requested could not be found.</p>
    <a href="home.html">Go to Homepage</a>
  </div>
</body>
</html>
