<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>password Reset</title>
  <link rel="icon" href="../static/images/tech_tales_icon.png"/>
  <link rel="stylesheet" href="../static/styles/password_reset.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    if (Cookies.get('access_token')) {
      window.location = 'home.html'
    }
  </script>
</head>
<body>
    <header>
        <div class="logo"></div>
        <div class="header_nav"></div>
    </header>
  <div class="body_wrapper">
    <section class="password_reset_section">
      <div class="intro_text">
        <h2>Update Your Password</h2>
        <p>Fill in the fields below to set a new password for your account.</p>
      </div>
      <form id="password_reset_form">
        <h1>Reset Password</h1>

        <div class="form_group">
          <div class="input_group">
            <i class="fas fa-lock"></i>
            <input id="new_password" placeholder="Enter your new password" type="password">
          </div>
        </div>
        <div class="form_group">
          <div class="input_group">
            <i class="fas fa-lock"></i>
            <input id="password_confirm" placeholder="Confirm your new password" type="password">
          </div>
        </div>
        <input id="password_reset_submit" type="submit" value="Reset My Password">
      </form>
    </section>
  </div>
  <script src="../static/scripts/main.js"></script>
  <script src="../static/scripts/common.js"></script>
  <script src="../static/scripts/password_reset.js"></script>
</body>
</html>
