<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Passwrod Reset Request</title>
  <link rel="icon" href="../static/images/tech_tales_icon.png"/>
  <link rel="stylesheet" href="../static/styles/password_reset_request.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <script>
    if (Cookies.get('access_token')) {
        window.location = 'home.html'
    }
  </script>
</head>
<body>
    <header>
        <div class="logo"></div>
        <div class="header_nav"></div>
    </header>
  <div class="body_wrapper">
    <section class="password_reset_request_section">
      <div class="intro_text">
        <h2>Forgot your password?</h2>
        <p>Don't worry, we will reset it for you</p>
      </div>
      <form id="password_reset_request_form">
        <h1>Reset your password</h1>
        <div class="form_group">
          <div class="input_group">
            <i class="fas fa-envelope"></i>
            <input id="password_reset_request_email" placeholder="Your email" type="text">
          </div>
        </div>
        <input id="password_reset_request_submit" type="submit" value="Send Request">
      </form>
    </section>
  </div>
  <script src="../static/scripts/main.js"></script>
  <script src="../static/scripts/common.js"></script>
  <script src="../static/scripts/password_reset_request.js"></script>
</body>
</html>
